<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title><%= book.title %></title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <img src="/assets/icons/journal-bookmark-fill.svg" alt="logo notebooks">
                <h3>
                    NoteBooks
                </h3>
            </div>
            <div class="nav-items">
                <a href="/logout" class="logout">Log out</a>
            </div>
        </div>
    </header>
    <section class="book-page">
        <div class="book-details">
            <div class="book-icon">
                <img src="/assets/icons/book.svg" alt="book item icon">
            </div>
            <div class="book-title">
                <h1><%= book.title %></h1>
                <h2><%= book.author %></h2>
                <form action="/deleteBook/<%= book.id %>" method="POST" onsubmit="return confirm('Delete this book?')">
                    <button type="submit">Delete</button>
                </form>
            </div>
            <div class="book-description">
                <p><%= book.description %></p>
                <p>
                    <%
                        const dateObj = new Date(book.added_at);
                        
                        const options = {
                            month: 'short',  
                            day: '2-digit',   
                            year: 'numeric', 
                            hour: '2-digit',  
                            minute: '2-digit',
                            second: '2-digit',
                            hour12: false   
                        };

                        const formattedDate = dateObj.toLocaleString('pt-BR', options);
                    %>
                    <%= formattedDate %>
                </p>
                <div class="rating">
                    <% for(let i = 1; i <= 5; i++) { %>
                        <% if (i <= book.rating) { %>
                            <span class="star filled">★</span>
                        <% } else { %>
                            <span class="star">☆</span>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="new-note">
            <h2>New Note</h2>
            <form action="/newNote/<%= book.id %>" method="POST" class="new-note-box">
                <textarea name="note" id="new-note"></textarea>
                <button type="submit">+ Add Note</button>
            </form>
        </div>
        <div class="book-notes">
            <h2>Notes</h2>
            <% for(let note of listNotes){ %>
                <div class="note">
                    <h3>Note <%= note.id %></h3>
                    <p><%= note.content %></p>
                    <p><%= note.created_at %></p>
                    <form action="/book/<%= book.id %>/deleteNote/<%= note.id %>" method="POST" onsubmit="return confirm('Delete this note?')">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            <% } %>
        </div>
    </section>
</body>
</html>