<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>NoteBooks</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <img src="/assets/icons/journal-bookmark-fill.svg" alt="logo notebooks">
                <h3>
                    NoteBooks
                </h3>
            </div>
            <div class="nav-items">
                <ul>
                    <li><a href="/read" class="read">Something to read</a></li>
                    <li><button class="add-book-btn add-nav">+ Add Book</button></li>
                    <li><a href="/logout" class="logout">Log out</a></li>
                </ul>
            </div>
            <div class="sidebar-item">
                <button>
                    <img src="/assets/icons/list.svg" alt="list sidebar button">
                </button>
            </div>
        </div>
    </header>
    <section class="sidebar">
        <button class="exit-button exit-side"><img src="/assets/icons/x.svg" alt="exit button"></button>
        <ul>
            <li><a href="/read" class="read">Something to read</a></li>
            <li><a href="/logout" class="logout">Log out</a></li>
            <li><button class="add-book-btn add-side">+ Add Book</button></li>
        </ul>
    </section>
    <section class="button-book">
        <div class="content-new-book">
            <h3>Add a new Book</h3>
            <button class="exit-button exit-new"><img src="/assets/icons/x.svg" alt="exit button"></button>
            <form class="add-book" action="/addBook" method="POST">
                <input type="text" class="input-new" name="bookTitle" id="new-title" placeholder="Book title">
                <input type="text" class="input-new" name="bookAuthor" id="new-author" placeholder="Book author">
                <textarea class="input-new" name="bookDescription" id="new-description" placeholder="Book description" wrap="hard"></textarea>
                <input type="number" class="input-new" name="bookRate" id="new-rate" min="1" max="5" placeholder="Book rate">

                <button type="submit" class="submit-new">Add Book</button>
            </form>
        </div>
    </section>
    <section class="book-list">
        <div class="welcome">
            <h1>Hello, <%= user.username %>!</h1>
        </div>
        <h2>Your NoteBooks</h2>
        <% for(let item of listItems){ %>
            <div class="item" data-id="<%= item.id %>">
                <div class="book-item">
                    <img src="/assets/icons/book.svg" alt="book item icon">
                </div>
                <p class="title-item">
                    <%= item.title %>
                </p>
                <p class="author-item">
                    <%= item.author %>
                </p>
                <p class="description-item">
                    <%= item.description %>
                </p>
                <div class="rating">
                    <% for (let i = 1; i <= 5; i++) { %>
                        <% if (i <= item.rating) { %>
                            <span class="star filled">★</span>
                        <% } else { %>
                            <span class="star">☆</span>
                        <% } %>
                    <% } %>
                </div>
                <p class="add-item">
                    <%
                        const dateObj = new Date(item.added_at);
                        
                        const options = {
                            month: 'short',  
                            day: '2-digit',   
                            year: 'numeric', 
                            hour: '2-digit',  
                            minute: '2-digit',
                            second: '2-digit',
                            hour12: false   
                        };

                        const formattedDate = dateObj.toLocaleString('pt-BR', options);
                    %>
                    <%= formattedDate %>
                </p>
            </div>
        <% } %>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/scripts/main.js"></script>
</body>
</html>